body {
    display: grid;
    overflow: hidden;
    /* width: 100%; */
    padding: 1%;
    /* grid-template-columns: 40% 60%; */
    grid-template-areas:
        'title title '
        'usage sysinfo'
        'usage upgradable'
        'usage reboot';
    font-family: Arial, Helvetica, sans-serif;

    grid-gap: 1%;
}

h1 {
    width: 50%;
}

#usage {
    grid-area: usage;
}

#title {
    grid-area: title;
}

#reboot {
    grid-area: reboot;
}

#upgradable {
    grid-area: upgradable;
}

#sysinfo {
    grid-area: sysinfo;
}

.grid-item {
    /* margin: 5%; */
    margin: 1% 0%;
    border: 1px solid black;
    padding: 2%;
    background-color: lightgray;
    border-radius: 5px;
}